.super-forgot-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.super-admin-forgot-password-form-container {
  width: 30%;
}
