.support-first-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.support-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.support-main-heading {
  font-size: 70px;
  font-weight: bold;

  color: black;
}

.support-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}

.support-card {
  display: flex;
  border: 4px #1f74ce solid;
  flex-direction: column;
  justify-content: space-between;
  width: 28%;
  padding: 10px;
  margin: 10px;
}
.support-card-container {
  display: flex;

  gap: 20px;
}

.support-card-icon {
  color: #1b3569;
  height: 50px;
  width: 200px;
}

.support-card-description {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.support-card-heading {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.support-card-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.support-card-button {
  outline: none;
  border-width: 0px;
  height: 50px;
  width: 180px;
  background-color: white;
  color: #287bf7;
  font-weight: bold;
  font-size: large;
  padding: 5px;
  border: 2px #1f74ce solid;
}

.support-section-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.support-banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: #1b3569;
  padding: 20px;
}

.support-banner-heading {
  color: white;
  font-weight: bold;
  font-size: 60px;
  margin: 10px;
}

.support-banner-description {
  color: white;
  font-weight: 100;
  margin: 10px;
  font-size: 20px;
}

.support-banner-button {
  outline: none;
  border-width: 0px;
  height: 50px;
  width: 180px;
  background-color: white;
  color: #287bf7;
  font-weight: bold;
  font-size: large;
  margin-right: 40px;
  padding: 5px;
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .support-card {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .support-card {
    width: 90%;
  }
  .support-banner-container {
    display: flex;
    flex-direction: column;
  }
  .support-main-heading {
    font-size: 40px;
  }
  .support-banner-heading {
    text-align: center;
  }
  .support-banner-description {
    text-align: center;
  }
}

@media screen and (max-width: 572px) {
  .support-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .support-card-heading {
    text-align: center;
  }
  .support-card-description {
    text-align: center;
  }
}
