.user-navbar-main-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a659e;
  width: 100%;
  height: 64px;
  color: white;
  padding: 1%;
  min-width: max-content;
}

.user-navbar-mini-nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.user-navbar-organization-name-searchbar-main-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.user-navbar-organization-name-main-container {
  display: flex;
  width: max-content;
}

.user-navbar-ul-main-container {
  display: flex;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-navbar-search-bar-main-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  height: 32px;
  gap: 5px;
  padding: 16px 10px;
  min-width: 100px;
}

.user-navbar-search-bar {
  outline: none;
  width: 90%;

  border: none;
  color: #000;
  font-size: 16px;
}

.user-nav-bar-search-icon {
  color: black;
  cursor: pointer;
}

.user-navbar-username-main-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .user-navbar-upgrade-btn-main-container{
    background-color: #eba51c;
    display: flex;
    border-radius: 8px;
    padding: 1%;
    justify-content: center;
    align-items: center;
} */

.user-navbar-upgrade-invite-btns-main-container {
  display: flex;
  gap: 20px;
}

.user-navbar-upgrade-btn-main-container {
  border: none;
  background-color: #ffffff;
  color: black;
  padding: 6px 20px;
  gap: 5px;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: max-content;
}

.user-navbar-invite-btn-main-container {
  border: none;
  background-color: #13315c;
  color: #fff;
  padding: 6px 20px;
  gap: 5px;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: max-content;
}
.user-navbar-text {
  margin: 0px;
}

.user-info-navbar-logo {
  width: 40px;
  border-radius: 50%;
}
