.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pricing-text {
  text-align: center;
}

.pricing-text h1 {
  font-size: 54px;
  font-weight: 900;
  margin-top: 100px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  margin-left: 21%;
  margin-right: 21%;
  color: #222222;
}

.pricing-text p {
  font-size: 22px;
  color: #222222;
  margin-left: 21%;
  margin-right: 21%;
}

.pricing-plans {
  background-color: #fcf5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  width: 80%;
  height: 20%;
}

.pricing-plan {
  text-align: center;
  padding: 20px;
}

.pricing-plan h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  margin-bottom: 10px;
  color: blue;
}
.pricing-plan h3 {
  font-size: 26px;
  margin-bottom: 10px;
}
.pricing-plan p {
  font-size: 17px;
  color: #777;
}

.vertical-line {
  height: 200px;
  width: 1px;
  background-color: #ccc;
  margin: 0 20px;
}
.demo-btn {
  width: 200px;
  height: 35px;
  color: black;
  text-align: center;
  cursor: pointer;
  border: black solid 2px;
}
.demo-btn:hover {
  background-color: rgb(214, 216, 223);
}
.price-features {
  background-color: rgb(181 190 238);
  width: 80%;
  padding-left: 20px;
  margin-right: 21%;
  margin-left: 21%;
}
.deliver {
  font-family: "Montserrat", sans-serif;
}

.features-row {
  background-color: #fcf5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-radius: 5px;
  width: 80%;
  height: 20%;
}
/* Add this to your pricing.css file */

.package-features {
  width: 22%; /* Adjust the width as needed */
  text-align: left;

  align-items: start;
}

.package-features h4 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.package-features ul {
  list-style-type: none;
  padding: 0;
}

.package-features li {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.performance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  background-color: #007bff;
  width: 100%;
  min-height: 90vh; /* Use min-height for full viewport height */
  padding: 20px; /* Add padding if needed */
  box-sizing: border-box; /* Include padding and border in the box model */
}

.performance-header {
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-weight: 900;
  color: white;
  margin: 25px;
}
.performance-header h3{
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}
.right-side button {
  width: 300px;
  height: 50px;
}

.right-side button:hover {
  background-color: #007bff;
}

.ready-container {
  padding: 40px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 12vh;
  margin-top: 70px; /* Adjust spacing as needed */
  color: #fff; /* Text color */
  margin-left: 27%;
  margin-right: 27%;
}

.text-container {
  flex: 1; /* Takes remaining space */
  margin-left: 20px; /* Adjust spacing between image and text */
}
.text-container p {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
.started {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: -20px; /* Adjust spacing between heading and paragraph */
}
.img-container:hover {
  transform: scale(1.05);
}

.ready-container:hover {
  /* Adjust the background color and opacity as needed */
  transform: scale(1.05);
}
