@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bootstraplabel {
  width: 100%;
  text-align: left;
  font-weight: "bold";
}

.add-project-heading {
  font-family: "Roboto";
  font-weight: "bold";
  color: #4254f5;
  text-align: center;
  margin-bottom: 10px;
}
.add-project-formContainer {
  padding: 10px;
  width: 90%;
}

.add-project-totalContainer {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.add-project-container {
  padding-right: 20px;
}
