.signin-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  /* background-image: url("https://maamus.com/image/loginbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     */
}
.signin-form-main-container {
  width: 24%;
  margin: 70px;
  padding: 50px 30px;
  border: 2px solid #4b4f58;
  border-radius: 5px;
  box-shadow: 0 0 20px #282046(0, 0, 0, 0.1);
  background-color: #fff;
}
.signin-form-heading-container {
  font-size: 28px;
  font-weight: 600;
  color: #212d45;
}
.singin-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form-group-container {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.singnin-form-lable-container {
  font-weight: bold;
  margin-bottom: 5px;
}

.signin-input-text {
  width: 90%;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #4b4f58;
  border-radius: 7px;
}

.signin-form-button-container {
  background-color: #ffc03d;
  color: #4b4f58;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  font-weight: 600;
}

.signin-form-button-container:hover {
  border: 1px solid #4b4f58;
  color: #4b4f58;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}
.signin-staff-customer-button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
}
.signin-staff-button {
  border: none;
  width: 45%;
  padding: 8px 10px;
  background-color: #4b4f58;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.5px;
  min-width: max-content;
}
.signin-customer-button {
  border: none;
  width: 45%;
  padding: 8px 10px;
  border: 1px solid #4b4f58;
  border-radius: 4px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  background-color: #fff;
  font-weight: 600;
  min-width: max-content;
  letter-spacing: 0.5px;
}
.login-image-container {
  width: 50%;
}
.Login-image {
  width: 80%;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .signin-form-main-container {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .signin-form-main-container {
    width: 30%;
  }
}
@media (min-width: 512px) and (max-width: 768px) {
  .signin-form-main-container {
    width: 60%;
  }
  .login-image-container {
    display: none;
  }
  .signin-staff-button {
    width: 100%;
  }
  .signin-customer-button {
    width: 100%;
  }
  .signin-form-heading-container {
    font-size: 24px;
  }
}
@media (max-width: 512px) {
  .signin-form-main-container {
    width: 100%;
  }
  .login-image-container {
    display: none;
  }
  .signin-staff-button {
    width: 100%;
  }
  .signin-customer-button {
    width: 100%;
  }
}
