.super-admin-login-div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /* background-image: url("https://maamus.com/image/loginbg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
       */
  }
  .super-admin-login-form-main-container {
    width: 25%;
    margin: 70px;
    padding: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff40;
    background-color: #fff;
  }
  .super-admin-login-form-heading-container {
    font-size: 28px;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  .singin-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .super-admin-login-logo {
    width: 40px;
    height: 40px;
  }
  .super-admin-login-first-heading {
    font-size: 34px;
    font-weight: bold;
  }
  
  .form-logo-container {
    display: flex;
    justify-content: center;
  }
  
  .super-admin-login-form-group-container {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .super-admin-login-form-label-text {
    font-weight: bold;
    font-size: 17px;
  }
  
  .super-admin-login-input-text {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #4b4f58;
    border-radius: 7px;
  }
  
  .super-admin-login-form-button {
    width: 100%;
    background-color: transparent;
    color: black;
    padding: 8px 20px;
    border: 3px #4f46e5 solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    font-weight: bold;
  }
  
  .super-admin-login-form-button:hover {
    border: 3px #4f46e5 solid;
    color: white;
    background-color: #4f46e5;
    transition: 0.3s ease-in-out;
  }
  
  .super-admin-login-account {
    color: #4278ed;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-image-container {
    width: 50%;
  }
  .Login-image {
    width: 100%;
  }
  
  @media (max-width: 1200px) {
    .super-admin-login-form-main-container {
      width: 35%;
    }
  }
  @media (min-width: 769px) and (max-width: 1023px) {
    .super-admin-login-form-main-container {
      width: 60%;
    }
  }
  @media (min-width: 512px) and (max-width: 768px) {
    .super-admin-login-form-main-container {
      width: 60%;
    }
    .login-image-container {
      display: none;
    }
    .super-admin-login-staff-button {
      width: 100%;
    }
    .super-admin-login-customer-button {
      width: 100%;
    }
    .super-admin-login-form-heading-container {
      font-size: 24px;
      text-align: center;
    }
  }
  @media (max-width: 512px) {
    .super-admin-login-form-main-container {
      width: 100%;
      margin: 10px;
      padding: 10px;
    }
    .login-image-container {
      display: none;
    }
    .super-admin-login-staff-button {
      width: 100%;
    }
    .super-admin-login-customer-button {
      width: 100%;
    }
  }
  